body{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #1d2124;
}
.noMargin{
    margin: 0;
    padding: 0;
    border: 0;
}
.header{
    width: 100%;
    height: 30%;
    position: relative;
    background-color: #dddddd;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.search-box {
    float: right;
    align-self: flex-end;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.title{
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
}

.searchText{
    background-color: #cccccc;
    width:100%;
    position: relative;
    height: 20%;
    float: right;
}

.searchQuery{
    display: flex;
    position: relative;
    height: 60%;
    color: #0c5460;
}

.productsNumber {
    border-bottom: 2px solid #856404;
    color: #ffffff;
    width: 50%
}
.article {
    margin-top: 5%;
}

.containerProducts {
    color: #1d2124;
    background-color: #ffffff;
    width: 100%;
    height: 10%;
    display: flex;
    border-bottom: 1px solid #1d2124;
}

.imagesProduct{
    width: 40%;
    height: 100%;
    float: left;
}


.descriptionProduct{
    width: 40%;
    height: 100%;
    float: left;
    color: #4e555b;
}

.priceProduct{
    width: 20%;
    height: 100%;
}

.bolding{
    font-weight: 800;
    color: #000000;
}

.oldPrice{
    text-decoration: line-through;
    color: #4e555b;
}

.newPrice{
    color: #000000;
}
.resizing{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
